@media only screen and (max-width: 740px) {
  .background-video {
    width: unset;
    height: unset;
    overflow: unset;
    display: unset;
    justify-content: unset;
    align-items: unset;
    z-index: unset;
  }

  .background-video #video {
    display: none;
  }
  .player {
    width: unset;
    max-width: 740px;
    display: unset;
    align-items: unset;
    top: unset;
    justify-content: unset;
    z-index: unset;
    margin: 0 auto;
  }

  .dashboard {
    position: fixed;
    width: 100%;
    padding: 16px 16px 14px;
    background-color: #fff;
    border-radius: unset;
    box-shadow: unset;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
    border: unset;
    animation: unset;
    top: 0;
    max-width: 740px;
    border-bottom: 1px solid #ebebeb;
  }

  .dashboard.non-active {
    animation: unset;
  }

  .dashboard.active {
    transform: unset;
    animation: unset;
  }

  .playlist-btn {
    display: none;
  }

  .playlist-btn:hover {
    transform: unset;
  }
  .playlist-btn:active {
    color: unset;
  }
  .playlist-btn.active {
    color: unset;
  }

  /* HEADER */
  header h4 {
    font-size: 12px;
  }

  /* CD */
  .cd {
    border-radius: unset;
    background: unset;
    box-shadow: unset;
    border: unset;
  }

  /* CONTROL */
  .control {
    padding: 18px 0 8px 0;
  }

  .control .btn {
    padding: 18px;
    font-size: 18px;
    transition: unset;
  }

  .control .btn-toggle-play {
    width: 56px;
    height: 56px;
  }

  .progress {
    background: rgba(0, 0, 0, 0.1);
  }

  .volume-bar {
    display: none;
  }

  /* PLAYLIST */
  .playlist {
    position: unset;
    overflow-y: unset;
    opacity: unset;
    z-index: unset;
    width: unset;
    height: unset;
    padding: 12px;
    background: unset;
    border-radius: unset;
    box-shadow: unset;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
    border: unset;
    animation: unset;
    margin-top: 445px;
  }

  .playlist.non-active {
    animation: unset;
  }

  .playlist.active {
    opacity: unset;
    transform: unset;
    animation: unset;
  }

  .song {
    margin-bottom: 12px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    border: unset;
  }

  .song .thumb {
    width: 44px;
    height: 44px;
  }

  .song .body {
    padding: 0 16px;
  }

  .song .title {
    font-size: 18px;
  }

  .song .author {
    font-size: 14px;
    color: #888;
  }
}
